* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 37, 37, 0.596);
}

.content {
  border-radius: 10px;
  max-width: 800px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 184, 184);
  transition: all 0.5s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.title {
  font-size: 30px;
  transition: all 0.5s ease;
}

.players {
  display: flex;
  column-gap: 100px;
  line-height: 0;
  margin-bottom: 30px;
}

.g1 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.g2 {
  border-bottom: 2px solid black;
}

.g3 {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.g4 {
  border-right: 2px solid black;
}

.g6 {
  border-left: 2px solid black;
}

.g7 {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.g8 {
  border-top: 2px solid black;
}

.g9 {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.grid {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: all 0.5s ease;
}

.titleMenu {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.menuOption button {
  color: whitesmoke;
  background-color: gray;
  padding: 10px 20px;
  font-size: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}
.menuOption button:hover {
  background-color: black;
  transform: scale(1.1);
}

.optionContainer {
  display: flex;
  gap: 300px;
}
.optionContainer button {
  padding: 10px 20px;
  color: whitesmoke;
  background-color: gray;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.optionContainer button:hover {
  background-color: black;
  transform: scale(1.1);
}

.titleInfo {
  font-weight: bold;
  font-size: 60px;
  margin-top: -50px;
}

form {
  margin-top: 50px;

  legend {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type="text"] {
    border: 1px solid transparent;
    border-radius: 10px;
    width: 200px;
    height: 30px;
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;

    button,
    a {
      text-decoration: none;
      margin-top: 30px;
      padding: 15px 25px;
      color: whitesmoke;
      background-color: gray;
      border: 1px solid transparent;
      border-radius: 10px;
      transition: all 0.5s ease;
      cursor: pointer;
    }
    button:hover,
    a:hover {
      transform: scale(1.1);
    }
  }
}
